<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stud1" class="co.edureka.Student" init-method="mySetup1" destroy-method="myDestructor">
		<property name="name" value="Sunil"></property>
	</bean>	
	
	<bean id="stud2" class="co.edureka.Student" init-method="mySetup2" destroy-method="myDestructor">
		<constructor-arg value="Joseph"></constructor-arg>
	</bean>
</beans>
